@font-face {
  font-family: "Barlow-Bold";
  src: url("../assets/fonts/Barlow/Barlow-Bold.ttf");
}
@font-face {
  font-family: "Barlow-Black";
  src: url("../assets/fonts/Barlow/Barlow-Black.ttf");
}
@font-face {
  font-family: "Barlow-Ligth";
  src: url("../assets/fonts/Barlow/Barlow-Light.ttf");
}
@font-face {
  font-family: "Barlow-Italic";
  src: url("../assets/fonts/Barlow/Barlow-Italic.ttf");
}

@font-face {
  font-family: "Barlow-Medium";
  src: url("../assets/fonts/Barlow/Barlow-Medium.ttf");
}
