@use "_global" as gs;
@import "font";

footer  {
  outline: 2px solid #3b6d8f;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #3b6d8f;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer h4  {
  text-align: center;
  color: #fff;
  margin: 0;
}

/* Estilos adicionales para pantallas más pequeñas */
@media (max-width: 768px) {
  footer {
    padding: 5px;
  }
}
