@use "_global" as gs;
@import "font";

.logo-dimension {
  padding-top: 1px;
  width: 120px;
  height: 120px;
  margin-bottom: 20px;
  margin-top: 20px;  
  border-radius: 100px;
}

.section{
    background-color: rgb(59, 109, 143);
}

