
.section-principal{
    padding: 5em;
    padding-top: 2em;
    padding-bottom: 2em;
}

.section-principal-arrow{
    padding: 10em;
    padding-top: 0em;
    padding-bottom: 1em;
}

.section-data{
    border-radius: 3px;
    box-shadow: 1px;
    box-shadow: 1px 0px 5px 1px rgba(0, 0, 0, 0.3);
}

.section-correcter{
    margin-top: -8%;
}

.section-header{
    color: #ffff;
    background-color: #1D4D7F;
    border-radius: 4px;
    padding: 0.5em;
    padding-left: 40%;
    border-bottom-width: 2px;
    border-bottom-style: ridge;
    border-bottom-color: #ffff;
}



.clientData-ul{
    border-radius: 3px;
    background-color: #fff;
    color: #757575;
    width: 100%;
    margin: 0%;
    padding-top: 1em;
    padding-bottom: 1em;
    list-style: none;
}

.mainclientData-ul{
    border-radius: 4px;
    background-color: #c9def5;
    color: #000;
    width: 100%;
    padding-left: 20%;
    margin: 0%;
    padding-top: 1em;
    padding-bottom: 1em;
    list-style: none;
}

.padding-bottom{
    padding-bottom: 1rem;
    list-style: none;
}

.td-table{
    height: 10px;
}

