@use "_global" as gs;
@import "font";

.form-container {
    display: flex;

}
 
.input-container {
    width: 50%;
    box-sizing: border-box;
    padding: 0 10px;
    margin-bottom: 10px;
  }

  .column {
    width: 50% !important;
  }
  
  .style {
    position: 'absolute';
    top: '50%';
    left: '50%';
    transform: 'translate(-50%, -50%)';
    width: 400;
    bgcolor: 'background.paper';
    border: '2px solid #000';
    boxShadow: 24;
  };